<!DOCTYPE html>
<html>
<%= stylesheet_link_tag "home" %>
<head>
    <meta name="viewport" content ="with=device-width, initial-scale=1.0">
    <title> ValleyBikeHomePage </title>
</head>
<body>

            <div class ="page-section">
                <font color="#228B22"> Welcome to ValetBike! </font>
            </div>  

        <div class="row">
            <div class="column left">
            </div>
            <div class="column right">
            </div>
        </div>
</body>
</html>