.hero-image {    
    content: "";
    background-image: url(https://images.unsplash.com/photo-1463663044706-e442cdfeeb7a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.75;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  }

.grid-containerFour {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  background-color: #32CD32;
  border: 2px solid rgba(0,0,0,0.8);
  padding: 10px;
  font-size: 20px;
}

.grid-containerFour .logoo {
  width: 600px;
  height: 450px;
  background-image: url("ValetBikeLogo.png");
  background-size: 600px 450px;;
  }
.welcome {
  position: absolute;
  bottom: 135px;
  right: 0%
}